@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <div class="content__main">
            @Body
        </div>

        <div class="content__footer">
            <div class="footer__delimiter">
                <hr />
            </div>
            <p>Some footer...</p>
        </div>
    </div>
</div>
